@import "tailwindcss";


@theme {
  --color-background:rgb(14, 15, 15);
  --color-background-light:rgb(10,11,11);
  --color-primary-text:rgb(255, 255, 255);
  --color-secondary-text:rgba(255, 255, 255, 0.8);
  --color-bordercolor:rgba(255, 255, 255, 0.3);
  --color-accent:rgb(143, 253, 211);
  --color-accent-bg:#8ffdd31a;
  --color-hover-text:rgba(255, 255, 255, 0.08)
}

:root{
  background-color: rgb(14, 15, 15);
  color: white;
}

*{
  font-family: "Urbanist", serif;
  font-weight: 550;
  
}

.chip {
  color: white;
  padding: 8px 16px;
  border: 2px solid rgb(143, 253, 211);
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.chip:hover {
  background-color: #303f9f;
}

.chip:focus {
  background-color: #1a237e;
}

/* Active chip styles */
.chip-active {
  background-color: #1a237e; /* Change to your preferred active color */
  color: #fff; /* You can adjust text color if necessary */
}
